* {
  box-sizing: border-box;
}

nav {
  background-color: rgb(255, 69, 1);
}

.navright {
  width: 45%;
  padding-top: 9px;
}

.henrex {
  font-size: 1.5rem;
}

.design {
  background:
    linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 255, 0.7)),
    url("https://www.merchantstimes.com/wp-content/uploads/2020/04/enginering.jpg");
  position: relative;
  background-size: cover;
  height: 500px;
}

.sub-design {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sub-design h4 {
  color: white;
  font-size: 1.6rem;
}

.sub-design form {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
}

.form-container {
  width: 100%;
  padding: 50px;
}

form input {
  width: 75%;
}

form .btn {
  width: 25%;
}

.button-work {
  left: 40%;
}

.henrex1,
.henrex2,
.henrex3 {
  color: rgb(255, 69, 1);
}

.henrex1 {
  font-size: 1.5rem;
}

.sub-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 50px;
}

.sub-text {
  width: 75%;
}

.sub-footer1 {
  background-color: black;
}

.sub-footer2 {
  width: 80%;
  margin: auto;
  display: flex;
}

.sub-footer3 {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.sub-footer4 {
  width: 45%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0;
  margin: 0;
  height: 45px;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.sub-footer4 a {
  color: white;
}

.footer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  grid-gap: 2rem;
  margin-top: 3rem;
  padding: 1rem;
}

.icons {
  width: 20%;
}

.form2 {
  width: 95%;
  margin: auto;
  padding-bottom: 2rem;
}

.button1 {
  width: 25%;
  margin: 10px;
  padding-top: 19px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 20px;
}

.tractor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px 15px;
  width: 90%;
  margin: auto;
}

.button-right {
  grid-column: 2;
  margin-left: auto;
}

.bottom-info {
  grid-column: 1/3;
  text-align: center;
}

.tractor div {
  border: 1px solid lightgrey;
  padding: 7px;
}

main label {
  font-weight: bold;
}

.sub-footer4 p {
  padding: 0;
  margin: 0;
  align-self: center;
}

.sub-footer3 i {
  padding: 10px;
}

.sub-section1 img {
  width: 300px;
  height: 400px;
  border-radius: 50%;
}

.sub-section2 img {
  width: 300px;
  height: 400px;
  border-radius: 35px 35px 0 0;
}

.sub-section div {
  padding: 10px;
  text-align: center;
}

.sub-section h5 {
  padding: 7px 0 7px 0;
}

.sub-footer4 a:hover {
  color: white;
  text-decoration: none;
}

.henrex3:hover {
  color: rgb(255, 69, 1);
}

@media screen and (max-width: 767px) {
  .logo {
    text-align: center;
    padding-bottom: 7px;
  }

  .navright {
    width: 100%;
    padding-top: 15px;
  }

  .tractor div {
    margin: 10px;
  }

  .navright span {
    display: none;
  }

  .design {
    height: 420px;
  }

  .sub-design {
    width: 100%;
    top: 45%;
  }

  .form-container {
    width: 90%;
    margin: auto;
    padding: 20px;
  }

  .footer1 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 1rem;
  }

  .sub-footer2 {
    width: 100%;
    display: block;
    position: relative;
  }

  .icons {
    width: 100%;
  }

  .end {
    text-align: center;
    padding-top: 10px;
  }

  .grid1 {
    grid-template-columns: 1fr;
    grid-gap: 40px 20px;
  }

  .button-right {
    grid-column: 1;
    margin-left: 10px;
    width: 30%;
  }

  .bottom-info {
    grid-column: 1;
    text-align: center;
  }

  form input {
    width: 100%;
    padding: 7px;
  }

  form .btn {
    width: 100%;
    margin-top: 10px;
  }

  .sub-section,
  .tractor {
    grid-template-columns: 1fr;
  }

  .tractor {
    width: 90%;
  }

  .sub-footer4 {
    flex-wrap: wrap;
    width: 100%;
  }

  .sub-footer3 {
    border: none;
    position: absolute;
    top: 10px;
    left: 40%;
  }

  .sub-text {
    width: 100%;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
  }

  .sub-section1 img {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }

  .sub-section2 {
    padding-bottom: 15px;
  }

  .sub-section2 img {
    width: 100%;
    height: 100%;
  }

  .sub-design h4 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .button-work {
    left: 35%;
  }

  .sub-footer4:nth-child(1) {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navright {
    width: 65%;
  }

  .sub-design {
    width: 90%;
  }

  .icons {
    padding-top: 10px;
  }
}
